body {
    display: flex;
    flex-direction: column;
    align-items: center;

}
body > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-top: 20px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}